.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px; /* Optional gap between grid items */
}

.grid-item {
  background-color: #ccc;
  padding: 10px;
}

#description {
  background-color: #f9f9f9;
  padding: 10px;
}

#description p {
  margin: 0;
}
